@import "sass/vars"
@import "sass/fonts"

::placeholder
	color: #666

::selection
	background-color: $gold
	color: #fff

/* Let's get this party started */
::-webkit-scrollbar
	width: 10px
 /* Track */
::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 20px rgba($cs, .75)

/* Handle */
::-webkit-scrollbar-thumb
	-webkit-border-radius: 0px
	border-radius: 0px
	background: $ca
	-webkit-box-shadow: inset 0 0 6px rgba($cs, .75)
::-webkit-scrollbar-thumb:window-inactive
	background: $ca
img
	display: none
body
	+theme-font($default-font, $size: 14px)
	min-width: 320px
	position: relative
	overflow-x: hidden
	color: $text
	margin: 0
	padding: 0
	border: 0
	scrollbar-face-color:#5997CA
	scrollbar-shadow-color: #ffffff
	scrollbar-highlight-color: #ffffff
	scrollbar-3dlight-color: #5997CA
	scrollbar-darkshadow-color: #5997CA
	scrollbar-track-color: #F6F6F6
	scrollbar-arrow-color: #F6F6F6
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	&:not([class="load"])
		#app
			opacity: 0
		.loader
			opacity: 1
			z-index: 12
		.sec
			background-image: none!important
	&.load
		img
			display: initial
		&.touch
			#app
				opacity: 1
p, h1
	margin: 0
	padding: 0
p
	margin-bottom: 12px
.ca
	color: $ca
.cs
	color: $cs
.cw
	color: $cw
.cg
	color: $cg
.bgca
	background-color: $ca
.bgcs
	background-color: $cs
.bgcw
	background-color: $cw
.bgcg
	background-color: $cg
.b-upp
	font-family: $bold-font
	text-transform: uppercase
.upp
	text-transform: uppercase
.bgw
	background-color: white

+font-styles

.height-full
	height: auto
	.container>.row
		height: auto
		padding-top: 15px
.title
	transform: skewY(-6deg)
	margin-left: auto
	margin-right: auto
	margin-bottom: 30px
	margin-top: 15px
	max-width: 540px
	span
		background: linear-gradient(to right,$cs 10%,$ca 90%)
		-webkit-text-fill-color: transparent
		color: $cs
		-webkit-background-clip: text
		display: block
		filter: drop-shadow(-14px 7px 1px rgba($text, .15))
	small
		display: block
		background: none
		padding-bottom: 5px
	p
		margin: 0
	&.title-border
		border-right: 2px solid rgba($ca, 1)
		padding: 0px 30px 0 20px
		display: inline-block
		margin-top: 15px
		margin-bottom: 0
		border-bottom: none!important
ul.lists
	margin: 15px 0 30px 0
	padding: 0 15px 0 0
	list-style: none
	li
		position: relative
		margin-bottom: 10px
		padding-left: 15px
		text-align: left
		&:before
			content: ""
			width: 10px
			height: 3px
			position: absolute
			left: 0px
			top: 8px
			background-color: $ca
			transform: skewY(-8deg)
	&.list-cg
		li
			&:before
				background-color: rgba($cg, .4)
.t-accent
	position: relative
	//display: inline-block
	width: auto
	margin-bottom: 30px
	padding-left: 10px
	&:before
		content: ""
		width: 6px
		height: 100%
		position: absolute
		left: -15px
		top: 15px
		background: linear-gradient(to bottom,$ca 30%,$cs 100%)
		transform: skewY(-8deg)
	&.accent-slim
		padding-left: 15px
		&:before
			width: 3px
			left: 15px
.bt
	+theme-font($default-font, $size: 16px)
	border: 0
	border-radius: 0px!important
	background: linear-gradient(to right,$ca 30%,$cs 100%)
	color: #fff
	padding: 21px 18px 0px 18px
	min-height: 60px
	display: inline-block
	text-transform: uppercase
	vertical-align: middle
	text-align: center
	transform: translateY(0px) skewY(-6deg)
	margin-bottom: 30px
	margin-top: 15px
	width: 100%
	&:hover
		transform: translateY(-3px) translateX(5px) skewY(-6deg)
		filter: hue-rotate(-40deg)
	&.bt-invert
		background: none
		border: 3px solid $cs
		min-height: auto
		padding-top: 8px
		padding-bottom: 8px
		color: $cs
		width: auto
		min-width: auto
	&.bt-more
		+theme-font($bold-font, $size: 36px)
		padding: 0px 12px
		margin: 0
		position: relative
		z-index: 11
		width: auto
		min-width: auto
.sec, .sec-b
	background-size: cover
	background-repeat: no-repeat
	padding-top: 60px
	padding-bottom: 60px
	position: relative
.sec-b
	color: $cw
	.title
		span
			background: linear-gradient(to right,$cw 0%,rgba($cw, .8) 100%)
			-webkit-text-fill-color: transparent
			color: $cw
			-webkit-background-clip: text
			display: block
			filter: drop-shadow(-14px 10px 10px rgba($cw, .3))
.sec1
	.logo
		margin-left: 20px
	.text-left
		text-align: center
	
.slogan
	.title
		margin-bottom: 10px
.sec2
	background-image: url('img/sec2.png')
	background-position: 35% 0%
	padding-bottom: 215px
	.row
		min-height: 460px
.sec3
	background-image: url('img/sec3.png')		
	position: relative
	z-index: 3
	background-size: 150%
	background-position: 35% 100%
	padding-bottom: 260px
.sec4
	position: relative
	z-index: 1
	padding-top: 140px
	background-color: #170506
	margin-top: -100px
	&:before
		content: ""
		width: 100%
		height: 100%
		position: absolute
		left: 0px
		top: 0px
		margin-top: 0px
		background-position: 50% 0%
		background-image: url('img/sec4.jpg')
		background-repeat: no-repeat
		background-size: cover

.sec5, .sec11
	background-image: url('img/SVG/bg-top.svg')
	background-position: 50% 0%
	background-size: 210%
	position: relative
	padding-bottom: 120px
	padding-top: 120px
	margin-top: -40px
	z-index: 3

	.item-icon
		position: relative
		background-image: url('img/bg_icon.png')
		background-position: 30px 0px
		background-repeat: no-repeat
		padding-top: 10px
		padding-bottom: 5px
		margin-bottom: 0px
		margin-top: 30px
		p
			padding-left: 110px
			padding-top: 30px
			min-height: 52px
	.img-icon
		max-width: 75px
		position: absolute
		top: -20px
		left: 0

.sec6
	background-image: url('m/img/sec6.jpg')
	background-color: #111
	background-position: 40% 0%
	//background-size: cover
	background-size: 150%
	.t-accent
		margin-top: 30px
		margin-bottom: 10px
.sec8
	position: relative
	z-index: 2
	padding-top: 100px
	background-color: #170506
	&:before
		content: ""
		width: 100%
		height: 100%
		position: absolute
		left: 0px
		top: 0px
		background-position: 50% 0%
		background-image: url('img/sec8.jpg')
		background-repeat: no-repeat
		background-size: contain
		
.sec9
	background-image: url('img/SVG/bg-top.svg')
	background-position: 50% 0%
	background-size: 220%
	position: relative
	z-index: 2
	.bt
		margin-bottom: 60px

.sec2, .sec9, .sec8
	margin-top: -40px
	//padding-top: 120px
	.title
		margin-top: 60px
		margin-bottom: 0px
.sec10
	background-image: url('m/img/sec10.jpg')
	background-position: 50% -50px
	background-size: 220%
	background-color: #111
	padding-top: 10px
	.first
		margin-top: 220px
	.lists
		max-width: 260px
		li
			text-align: left
.sec12
	background-image: url('img/sec4.jpg')
	background-position: 50% 0%
	padding-top: 100px
	.img-circle
		width: 50px
		height: 50px
.paks
	padding-right: 15px
	.title
		margin-top: 0
		border-bottom: 4px solid $cs
		margin-bottom: 40px
	.bt
		width: 100%
	ul.lists
		li
			&:before
				left: -15px
.more
	height: 0
	overflow: hidden
	position: relative
	padding-bottom: 60px
	transform: translateY(-70px)
	&:before
		content: ""
		width: calc(90% - 60px)
		height: 2px
		position: absolute
		right: 30px
		bottom: 30px
		background-color: $cs
		transform: skewY(-6deg)
	.lists
		opacity: 0
		transition: .2s ease-out
.open
	.bt-more
		display: none
	.more
		height: auto
		padding-bottom: 30px
		transform: translateY(0px)
		.lists
			opacity: 1
			transition: 1.8s ease-out
.it
	.t-accent
		margin-top: 15px
.bgi
	position: absolute
	top: 0
	right: 0
	left: auto
	width: 100%
	height: auto
	&.bgfix
		position: fixed
		z-index: -1
	img
		height: 100%
		width: auto
		margin-left: calc(50vw - 960px)
		margin-top: calc(50vh - 490px)
	picture
		width: 100%
.text-left
	text-align: left
.text-right
	text-align: right
.app
	position: relative	
	z-index: 11
	transition: opacity .2s ease-out
	overflow: hidden
.sec.sec0
	background-repeat: no-repeat
	background-position: 50% 100%
	background-size: cover
	background-color: #55294e
	padding: 0
	.logo
		max-width: 140px
a, button, .thumb,
	transition: .15s ease-out
	cursor: pointer
.more
	transition: .15s ease-out
span.target
	transition: 2s ease

.title-fix
	transition: .3s ease-out

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.no-gutters
	margin-right: 0
	margin-left: 0
	&>.col,
	&>[class*="col-"]
		padding-right: 0
		padding-left: 0
.tc
	text-align: center
	img
		margin-left: auto
		margin-right: auto
		
.tr
	text-align: right
.tl
	text-align: left
.pr
	position: relative
	
a
	text-decoration: none!important
b, strong
	font-family: $bold-font
h2
	font-family: $black-font
h2
	font-family: $black-font
picture
	display: inline-block
.lead-l
	font-family: $default-font

.bggr
	background-color: $gray
button.bt
	padding-top: 2px
.play
	background: none
	width: 60px
	height: 60px
	min-height: auto
	min-width: auto
	border: 3px solid #fff
	padding-top: 4px
	padding-left: 0
	padding-right: 0
	padding-bottom: 0
	outline: none
	svg
		max-width: 33px
		filter: invert(0%)
		outline: none
		margin-left: auto
		margin-right: auto
		display: block
.bt-play
	display: inline-block
	vertical-align: top
	width: 27%
	margin-right: 10px
	.bt
		padding-left: 26px
		padding-right: 22px
		font-size: 2rem
		padding-top: 10px
		padding-bottom: 0
		margin-right: 0px
		margin-left: 0px
		min-width: 40px
.bt-text
	max-width: 130px
	display: inline-block
	vertical-align: middle
	text-align: right
	float: right
	padding-top: 10px
	padding-bottom: 10px
	font-size: 9px
	padding-right: 10px
.text-center
	h3
		position: relative
		&:before
			content: ""
			width: 180px
			height: 1px
			background-color: $gold
			position: absolute
			left: calc(50% - 90px)
			bottom: -20px
		&:after
			content: ""
			width: 40px
			height: 2px
			background-color: $gold
			position: absolute
			left: calc(50% - 20px)
			bottom: -22px
h3
	position: relative
	&:before
		content: ""
		width: 180px
		height: 1px
		background-color: $gold
		position: absolute
		left: 0
		bottom: -20px
	&:after
		content: ""
		width: 40px
		height: 2px
		background-color: $gold
		position: absolute
		left: 0
		bottom: -22px
	picture
		padding-top: 8px
		padding-right: 12px
	small
		display: block
		font-size: 1.25rem
ul
	li
		margin-bottom: 10px
.lead
	font-size: 1.25rem
	strong
		font-family: $black-font
.header
	position: absolute
	z-index: 22
	width: 100%
	left: 0
	top: 0
	padding-top: 10px
	&.fix
		position: fixed
		z-index: 22
		width: 100%
		left: 0
		background-color: $cw
		top: 0
		padding-top: 0px
		border-bottom: 2px solid $text
		&:after
			display: none
		&:before
			background-color: $cw
		span
			color: #fff
		.row
			height: 60px
		.bt
			padding: 6px 12px
			min-height: 32px
			font-size: 16px
			transform: none
			margin: 0
			&:hover
				color: $ca
				border-color: $cs
	.bt
		transform: none
		margin: 0
		&.popup
			display: none
	.logo
		max-height: 50px
	.row
		height: auto
	span
		color: $gold
	p
		margin-bottom: 5px
		margin-top: 0
	.phone
		background: linear-gradient(to right,$ca 0,$cs 100%)
		-webkit-text-fill-color: transparent
		color: #b42fa8
		-webkit-background-clip: text
		display: inline-block
		padding: 2px
		border-color: transparent
		margin: 0
	a:hover
		.phone
			filter: hue-rotate(-40deg)
footer
	background-repeat: no-repeat
	background-position: 50% 30%
	background-size: cover
	padding-top: 20px
	padding-bottom: 20px
	.ico
		opacity: .2
		font-size: 36px
		padding-top: 10px
		padding-bottom: 10px
		display: inline-block
	p, span
		color: $cg
		font-size: 13px
		line-height: 17px
		&.cg
			opacity: .5
	.t-accent
		margin-bottom: 15px
	.nav-cont
		+theme-font($default-font, $size: 18px)
		margin-bottom: 18px
		margin-right: 10px
		span
			+theme-font($default-font, $size: 18px)
	a
		color: $cs
		padding: 0
		margin: 0
		&:hover
			border-color: transparent
			color: $ca
			span
				color: $ca
	.nav-link
		+theme-font($default-font, $size: 12px)
		opacity: .5
		color: $ca
		border-bottom: 1px dotted $gr1
		margin-right: 10px
		display: inline-block
		margin-bottom: 5px
		&:hover
			border-color: transparent
			color: $cs
			opacity: 1
	.contacts
		margin-bottom: 20px
		border-bottom: 1px dotted rgba(white, .2)
		padding-bottom: 30px
	.card
		opacity: .2
		margin-bottom: 18px
	.logo
		margin-left: auto
		margin-right: auto
		max-width: 100px
		width: 100%
		display: block
		margin-bottom: 15px

form
	input, textarea
		border: 1px solid $gold
		padding: 16px
		width: 100%
		margin-bottom: 10px
		font-size: 16px
		font-family: $bold-font
	.bt
		width: 100%
		margin-bottom: 15px
		margin-top: 25px
.form
	max-width: 420px
	margin: 0 auto
	position: relative
	border-bottom: 2px solid $cs
	border-radius: 0px
	background-color: #fff
	padding: 46px
	.preloader
		animation-play-state: paused
		opacity: 0
	&.send
		.preloader
			animation-play-state: running
			opacity: 1
		.form-cont
			opacity: 0
	small, label
		font-size: 14px
		display: inline-block
		margin-bottom: 5px
		color: #888
.error-message
	position: absolute
	right: calc(0% + 15px)
	bottom: 0px
	width: 50%
	font-size: 11px
	color: red
.intl-tel-input
	width: 100%
	margin-bottom: 10px
.country-list
	color: $text
	z-index: 661

.player
	display: inline-block
	position: relative
	margin-bottom: 20px
	margin-top: 40px
	&:hover
		picture
			opacity: 0.4
		
		.thumb
			background-color: $gr1
		.play
			border-color: #fff
			svg
				filter: invert(100%)
	.thumb
		position: relative
		img
			max-width: 560px
			width: 100%
	.play
		background: none
		position: absolute
		top: calc(50% - 30px)
		left: calc(50% - 30px)
		width: 60px
		height: 60px
		min-height: auto
		min-width: auto
		border: 4px solid $gr0
		padding-top: 4px
		padding-left: 5px
		padding-right: 0
		padding-bottom: 0
		outline: none
		margin: 0
		svg
			max-width: 24px
			filter: invert(0%)
			outline: none
	#ytplayerOne,
	#ytplayerTwo,
	#ytplayerThree
		position: absolute
		top: 0px

.grafik
	background-repeat: no-repeat
	background-position: 0% 10px
	background-size: contain
	padding-top: 20px
	.row
		min-height: auto
	span
		max-width: 210px
		color: #fff
		display: block
		position: relative
		padding-left: 20px
		font-size: 14px
		&:before
			content: ""
			width: 10px
			height: 2px
			position: absolute
			left: 0px
			top: 12px
			background-color: $ca
			transform: skewY(-12deg)
	.g1
		transform: translateX(220px)
	.g2
		transform: translateX(350px) translateY(70px)
	.g3
		transform: translateX(90px) translateY(40px)
	.g4
		transform: translateX(150px) translateY(140px)
	.g5
		transform: translateX(50px) translateY(180px)
.row-f
	height: auto
	min-height: 520px	
	max-height: 720px
.fz12
	font-size: 12px
	line-height: 18px
.fz26
	font-size: 20px
.fz36
	font-size: 36px
.fz18
	font-size: 18px
.img-circle
	border-radius: 50%
ul.lists.mt3
	margin-top: 60px
	margin-top: 0px
	margin-bottom: 0px
	padding-bottom: 0
ul.lists.mt6
	padding-top: 120px
	margin-top: 0px
	margin-bottom: 0px
	padding-bottom: 0

iframe
	max-width: 100%
	height: auto
	min-height: 200px