@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
		
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)
			

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)
	.height-full
		min-height: 640px
		.container>.row
			height: calc(100vh - 60px)
			min-height: 640px
	.sec2
		background-image: url('../img/sec2.png')
		background-position: 50% 0%
	.sec4
		background-image: url('../img/sec4.png')
		background-position: 50% 0%
	.header
		.bt.popup
			display: inline-block
	.sec.sec3 .title
		max-width: 480px
		margin-bottom: 60px
	.sec.sec4
		background-size: auto 315px
		.title
			max-width: 480px
	.sec.sec5
		.title
			max-width: 480px
	.sec1
		.title
			margin-bottom: 20px
		p
			&.cw
				font-size: 14px
				text-align: right
		p.fz36
			font-size: 36px
		.text-left
			text-align: left
	footer
		background-image: url('../img/sec0.jpg')
// ≤992px
+media-breakpoint-up(lg)
	.sec.sec5 ul li
		max-width: 300px
	.days
		max-width: 300px
	.sec.sec6
		padding-bottom: 0px
		background-position: 50% 100%
		background-size: contain
		background-color: #3c1c40
	.row-f
		height: 100vh
	.sec.sec4
		background-position: 25% 0%
		padding-bottom: 40px
		background-size: cover
	.sec.sec6
		background-size: cover
		padding-bottom: 80px
		padding-top: 80px
		.title .h4
			text-align: left
		.title.text-right .h4
			text-align: right
	.header
		padding-top: 15px
// ≤1200px
+media-breakpoint-up(xl)
	.sec.sec4
		background-position: 45% 0%
		padding-bottom: 80px
